<!DOCTYPE html>
<html>
    <head>
        <script src="js/vue.js"></script>
        <script src="js/jquery.js"></script>
        <link href="css/search.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div id="searchPane">
                <input name="search" style="width:80%;" type="text" @blur="inputBlur" @focus="inputFocus" v-model="searchString">
                <input type="submit" value="search" v-if="!searchAdvance">
                <div class="menu-content" v-if="searchInputFocus">
                    <p @click="selectEntity('site')">Site</p>
                    <p @click="selectEntity('page')">Page</p>
                    <p @click="selectEntity('advance')">Advance...</p>
                </div>
                <div class="menu-content" v-if="searchSite">
                    <p>Options for search site</p>
                    <!-- <p @click="selectEntity('site')">Site</p>
                    <p @click="selectEntity('page')">Page</p>
                    <p @click="selectEntity('advance')">Advance...</p> -->
                </div>
                <div class="menu-content" v-if="searchPage">
                    <p>Options for search page</p>
                    <!-- <p @click="selectEntity('site')">Site</p>
                    <p @click="selectEntity('page')">Page</p>
                    <p @click="selectEntity('advance')">Advance...</p> -->
                </div>
                <div class="menu-content" v-if="searchAdvance">
                    <table>
                        <tr>
                            <td>Type:</td>
                            <td>
                                <select v-model="searchOptions.type" @change="typeChange">
                                    <option value="page">Page</option>
                                    <option value="site">Site</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Owner:</td>
                            <td>
                                <select v-model="searchOptions.owner" @change="ownerChange">
                                    <option value="byMe">Me</option>
                                    <option value="notMe">Not me</option>
                                    <option value="specificPerson">Specific person</option>
                                </select>
                                <br>
                                <div  v-if="searchOptions.owner=='specificPerson'">
                                    Owner name: <input type="text" v-model="searchOptions.ownerSpecified" list="specificPersonList" @change="ownerChange">
                                    <datalist id="specificPersonList">
                                        <option value="tom">Tom</option>
                                        <option value="john">John</option>
                                    </datalist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Owner:</td>
                            <td>
                                <input type="checkbox" value="starred" v-model="searchOptions.is" @change="propertyChange" :checked="[[ searchOptions.is.includes('starred') ]]"> is star
                                <input type="checkbox" value="trashed" v-model="searchOptions.is" @change="propertyChange" :checked="[[ searchOptions.is.includes('trashed') ]]"> is trash
                            </td>
                        </tr>
                        <tr>
                            <td>Date modified:</td>
                            <td>
                                <select v-model="searchOptions.date" @change="dateChange">
                                    <option value="anytime">Anytime</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="last30days">Last 30 days</option>
                                    <option value="range">Find in range</option>
                                </select>
                                <br>
                                <div v-if="searchOptions.date==='range'">
                                    From: <br><input type="datetime-local" v-model="searchOptions.dateFrom" @change="dateChange"><br>
                                    To: <br><input type="datetime-local" v-model="searchOptions.dateTo" @change="dateChange">
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Item name/Title:</td>
                            <td><input type="text" v-model="searchOptions.title" @change="titleChange"></td>
                        </tr>
                        <tr>
                            <td>Has the world:</td>
                            <td><input type="text" v-model="searchOptions.hasWord" @change="hasWordChange"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button @click="reset">RESET</button>
                                <button @click="search">SEARCH</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="resultPane">
                <p v-if="searchResults.length>0">Search result:</p>
                <ul>
                    <li v-for="result in searchResults">
                        {{ result.id }}
                    </li>
                </ul>
            </div>
        </div>
    </body>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // message: 'Hello Vue! Following is list',
                searchResults: [
                    {
                        id: '1',
                        name: 'Cross Origin'
                    },
                    {
                        id: '2',
                        name: 'Requests'
                    }
                ],
                searchInputFocus: false,
                searchPage: false,
                searchSite: false,
                searchAdvance: false,
                // we will parse searchString into search options and back
                searchString: '',
                searchOptions: {
                    type: null,
                    is: [],
                    owner: null,
                    ownerSpecified: null,
                    date: null,
                    dateFrom: null,
                    dateTo: null,
                    title: null,
                    hasWord: null
                },
            },

            methods : {
                inputFocus: function(){
                    if (this.searchAdvance || this.searchPage || this.searchSite) 
                        return 
                    this.searchInputFocus = true
                },
                inputBlur: function(){
                    setTimeout(()=>{
                        this.searchInputFocus = false
                    }, 100)
                    this.updateSearchOptions()
                },
                selectEntity: function(entity){
                    this.searchOptions.type = entity
                    if (entity === 'site') {
                        this.searchInputFocus = false
                        this.searchSite = true
                    }
                    else if (entity === 'page'){
                        this.searchInputFocus = false
                        this.searchPage = true
                    }
                    else if (entity === 'advance'){
                        this.searchInputFocus = false
                        this.searchAdvance = true
                        this.searchOptions.type = null
                    }
                },
                searchOptionsToString: function(){
                    let result = []
                    for(let key in this.searchOptions) {
                        if (this.searchOptions[key] == null || this.searchOptions[key].length == 0) continue
                        if (Array.isArray(this.searchOptions[key])) {
                            for(let val of this.searchOptions[key]) {
                                result.push(`"${key}:${val}"`)
                            }
                        }
                        else {
                            result.push(`"${key}:${this.searchOptions[key]}"`)
                        }
                    }
                    return result.join(' ')
                },
                titleChange: function(){
                    this.searchString = this.searchOptionsToString()
                },
                hasWordChange: function(){
                    this.searchString = this.searchOptionsToString()
                },
                typeChange: function(){
                    this.searchString = this.searchOptionsToString()
                },
                propertyChange: function(){
                    this.searchString = this.searchOptionsToString()
                },
                ownerChange: function(){
                    this.searchString = this.searchOptionsToString()
                    if (this.searchOptions.owner == 'me' || this.searchOptions.owner == 'notMe') {
                        this.searchOptions.ownerSpecified = null
                    }
                },
                dateChange: function(){
                    this.searchString = this.searchOptionsToString()
                    if (this.date != 'range') {
                        this.searchOptions.dateFrom = this.searchOptions.dateTo = null
                    }
                },
                updateSearchOptions: function(){
                    let reg = /[^"]+(?=("\ +")|"$)/g    
                    let tmpOptions = {}
                    for(let key in this.searchOptions) {
                        if (Array.isArray(this.searchOptions[key])) {
                            tmpOptions[key] = []
                            continue
                        }
                        tmpOptions[key] = null
                    }

                    let match = reg.exec(this.searchString)
                    while(match) {
                        let keyValue = match[0]
                        let splitIndex = keyValue.indexOf(':')
                        let key = keyValue.substr(0, splitIndex)
                        let value = keyValue.substr(splitIndex+1)
                        if (key in this.searchOptions) {
                            // if key in allowed options d
                            if (Array.isArray(this.searchOptions[key])) {
                                tmpOptions[key].push(value)
                            }
                            else {
                                tmpOptions[key] = value
                            }
                        }
                        // next match
                        match = reg.exec(this.searchString)
                    }

                    this.searchOptions = tmpOptions
                },
                reset: function(){
                    this.searchOptions =  {
                        type: null,
                        is: [],
                        owner: null,
                        ownerSpecified: null,
                        date: null,
                        dateFrom: null,
                        dateTo: null,
                        title: null,
                        hasWord: null
                    }
                    this.updateSearchOptions()
                },
                search: function(){

                },
                
            },
            watch: {
                // whenever question changes, this function will run
                'searchOptions.title': function (NEW, OLD) {
                    this.updateSearchOptions()
                }
            },
        })

    </script>
</html>